#!/usr/bin/make -f

VER ?= $(shell dpkg-parsechangelog -SVersion)

export PYBUILD_DESTDIR_python3=debian/khal
export PYBUILD_NAME=khal
%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_build:
	echo "version = '$(VER)'" > khal/version.py
	dh_auto_build
	PYTHONPATH=. sphinx-build -b man doc/source $(CURDIR)/doc/_build/man

override_dh_sphinxdoc:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	PYTHONPATH=. sphinx-build -b html doc/source $(CURDIR)/debian/khal-doc/usr/share/doc/khal-doc/html
	dh_sphinxdoc -O--buildsystem=python_distutils
endif

override_dh_auto_test:
	mkdir -p debian/tmp/locale/
	localedef -f UTF-8 -i en_US ./debian/tmp/locale/en_US.UTF-8/
	localedef -f UTF-8 -i de_DE ./debian/tmp/locale/de_DE.UTF-8/
	localedef -f UTF-8 -i cs_CZ ./debian/tmp/locale/cs_CZ.UTF-8/
	localedef -f UTF-8 -i el_GR ./debian/tmp/locale/el_GR.UTF-8/
	export LOCPATH=$(CURDIR)/debian/tmp/locale/ && \
	export LC_ALL=en_US.UTF-8 && \
	LC_ALL=en_US.UTF-8 dh_auto_test

override_dh_auto_clean:
	rm -f khal/version.py
	dh_auto_clean
